<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GAB.ActiveDirectory" version="2.2.5" targetFramework="net40" />
  <package id="MySql.ConnectorNET.Data" version="6.8.3.2" targetFramework="net40" />
  <package id="MySqlBackup.NET" version="2.0.4" targetFramework="net40" />
</packages>